header{
   display: block; 
}

section{
    width: 65%;
    height: 60%;
    float: left;
    padding: 1%;
}
aside{
    width: 20%;
    height: 60%;
    float: left;
    padding: 1%;
}
canvas{
    padding-top: 20%;
}