header{
   display: block; 
}
body{
    margin: 2.5%;
}
section{
    display: inline-block;
}
aside{
    padding: 5%;
    border-left: solid black 5px;
    display: inline-block;
    position: relative;
    top: -200px;
}