header{
   display: block; 
}
body{
    display: inline-block;
    margin: 2.5%;
}
section{
    width: 60%;
    height: 60%;
    float: left;
    padding: 3%;
}
aside{
    width: 20%;
    height: 60%;
    float: left;
    padding: 3%;
}
canvas{
    padding: 5%;
}